.icons,
.icons * {
  box-sizing: border-box;
}
.icons {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.button-cv-2 {
  width: 220px;
  height: 40px;
  position: absolute;
  left: 600px;
  top: 729px;
}
.button-cv {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle-24 {
  background: var(--yellow, #ffb400);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.download-cv {
  color: var(--black, #2b2b2b);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  right: 32.73%;
  left: 18.18%;
  width: 49.09%;
  bottom: 26.43%;
  top: 25%;
  height: 48.57%;
}
.frame {
  width: 6.36%;
  height: 40%;
  position: absolute;
  right: 17.73%;
  left: 75.91%;
  bottom: 29.29%;
  top: 30.71%;
  overflow: visible;
}
.button-order-now {
  width: 169px;
  height: 38px;
  position: absolute;
  left: calc(50% - 94px);
  top: calc(50% - -77px);
}
.rectangle-55 {
  background: var(--white, #ffffff);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.order-now {
  color: var(--black, #2b2b2b);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 24.26%;
  left: 24.26%;
  width: 51.48%;
  bottom: 26.32%;
  top: 28.95%;
  height: 44.74%;
}
.line {
  width: 159px;
  height: 4px;
  position: absolute;
  left: 332px;
  top: 725px;
}
.rectangle-6 {
  border-radius: 30px;
  border-style: solid;
  border-color: #ffb400;
  border-width: 0.5px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle-7 {
  background: #ffb400;
  border-radius: 30px;
  width: 99.09%;
  height: 50%;
  position: absolute;
  right: 0.45%;
  left: 0.45%;
  bottom: 25%;
  top: 25%;
}
.icons-facebook {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 709px;
  top: 193px;
  overflow: visible;
}
.icons-instagram {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 709px;
  top: 220px;
  overflow: visible;
}
.icons-twitter {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 709px;
  top: 247px;
  overflow: visible;
}
.icons-linkedin {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 709px;
  top: 274px;
  overflow: visible;
}
.icons-dribbble {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 709px;
  top: 301px;
  overflow: visible;
}
.icons-youtube {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 709px;
  top: 328px;
  overflow: visible;
}
.icons2 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 825px;
  top: 313px;
}
.rectangle-22 {
  border-style: solid;
  border-color: var(--black, #2b2b2b);
  border-width: 1px;
  width: 66.67%;
  height: 66.67%;
  position: absolute;
  right: 33.33%;
  left: 0%;
  bottom: 33.33%;
  top: 0%;
}
.rectangle-23 {
  border-style: solid;
  border-color: var(--black, #2b2b2b);
  border-width: 1px;
  width: 66.67%;
  height: 66.67%;
  position: absolute;
  right: 0%;
  left: 33.33%;
  bottom: 0%;
  top: 33.33%;
}
.icons-contrast {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 818px;
  top: 353px;
  overflow: visible;
}
.icons-check {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 821px;
  top: 187px;
  overflow: visible;
}
.icons-close {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 821px;
  top: 236px;
  overflow: visible;
}
.icons-star {
  width: 18px;
  height: 17.37px;
  position: absolute;
  left: 824px;
  top: 278px;
  overflow: visible;
}
.icons-coding {
  width: 68px;
  height: 68px;
  position: absolute;
  left: 113px;
  top: 387px;
  overflow: hidden;
}
.group {
  width: 96.88%;
  height: 78.12%;
  position: absolute;
  right: 1.56%;
  left: 1.56%;
  bottom: 10.94%;
  top: 10.94%;
  overflow: visible;
}
.icons-illustration {
  width: 68px;
  height: 68px;
  position: absolute;
  left: 234px;
  top: 387px;
  overflow: hidden;
}
.group2 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0.6px;
  overflow: visible;
}
.icons-game-development {
  width: 74px;
  height: 74px;
  position: absolute;
  left: 110px;
  top: 480px;
  overflow: visible;
}
.icons-photographer {
  width: 78px;
  height: 78px;
  position: absolute;
  left: 229px;
  top: 478px;
  overflow: hidden;
}
.group3 {
  height: auto;
  position: absolute;
  left: 3.29px;
  top: 0px;
  overflow: visible;
}
.group4 {
  height: auto;
  position: absolute;
  left: 35.23px;
  top: 65.42px;
  overflow: visible;
}
.icons-ad-pop-up {
  width: 74px;
  height: 74px;
  position: absolute;
  left: 110px;
  top: 585px;
  overflow: hidden;
}
.group5 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 3.77px;
  overflow: visible;
}
.icons-microphone {
  width: 74px;
  height: 74px;
  position: absolute;
  left: 231px;
  top: 581px;
  overflow: hidden;
}
.group6 {
  height: auto;
  position: absolute;
  left: 22.52px;
  top: 0px;
  overflow: visible;
}
.group7 {
  height: auto;
  position: absolute;
  left: 12.87px;
  top: 28.96px;
  overflow: visible;
}
.icons-copyright {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 821px;
  top: 408px;
  overflow: visible;
}
.send-message {
  width: 159px;
  height: 35px;
  position: absolute;
  left: 631px;
  top: 800px;
}
.rectangle-72 {
  background: var(--yellow, #ffb400);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.send-message2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  right: 15.09%;
  left: 15.72%;
  width: 69.18%;
  bottom: 25.71%;
  top: 25.71%;
  height: 48.57%;
}
.icons-location {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 892px;
  top: 200px;
  overflow: visible;
}
.icons-mail {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 892px;
  top: 253px;
  overflow: visible;
}
.icons-mobile {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 892px;
  top: 289px;
  overflow: visible;
}
.button-go-back-home {
  width: 234px;
  height: 53px;
  position: absolute;
  left: 593px;
  top: 866px;
}
.rectangle-74 {
  background: var(--yellow, #ffb400);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-72 {
  position: absolute;
  inset: 0;
}
.group-73 {
  width: 164px;
  height: 22px;
  position: static;
}
.go-back-home {
  color: var(--black, #2b2b2b);
  text-align: left;
  font-family: var(--h4-18px-font-family, "Inter-Medium", sans-serif);
  font-size: var(--h4-18px-font-size, 18px);
  line-height: var(--h4-18px-line-height, 123.6%);
  font-weight: var(--h4-18px-font-weight, 500);
  position: absolute;
  right: 14.96%;
  left: 30.77%;
  width: 54.27%;
  bottom: 28.3%;
  top: 30.19%;
  height: 41.51%;
}
.arrow-2 {
  width: 30%;
  height: 20%;
  position: absolute;
  right: 20%;
  left: 5%;
  bottom: 40%;
  top: 30%;
  overflow: visible;
}
.button-hire-me {
  border-style: solid;
  border-color: var(--black, #2b2b2b);
  border-width: 1px;
  padding: 8px 32px 8px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 660px;
  top: 510px;
}
.hire-me {
  color: var(--black, #2b2b2b);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
}
.button-learn-more {
  width: 121px;
  height: 22px;
  position: absolute;
  left: 647px;
  top: 465px;
}
.learn-more {
  color: var(--yellow, #ffb400);
  text-align: left;
  font-family: var(--h4-18px-font-family, "Inter-Medium", sans-serif);
  font-size: var(--h4-18px-font-size, 18px);
  line-height: var(--h4-18px-line-height, 123.6%);
  font-weight: var(--h4-18px-font-weight, 500);
  position: absolute;
  right: 19.01%;
  left: 0%;
  width: 80.99%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.icons-right {
  width: 14.88%;
  height: 81.82%;
  position: absolute;
  right: 0%;
  left: 85.12%;
  bottom: 0%;
  top: 18.18%;
  overflow: visible;
}
.icons-home {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 594px;
  top: 193px;
  overflow: visible;
}
.icons-portfolio {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 594px;
  top: 274px;
  overflow: visible;
}
.icons-blog {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 594px;
  top: 301px;
  overflow: visible;
}
.icons-contact {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 594px;
  top: 328px;
  overflow: visible;
}
.icons-services {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 594px;
  top: 220px;
  overflow: hidden;
}
.file-code {
  width: 16.5px;
  height: 18px;
  position: absolute;
  left: 1px;
  top: 0px;
  overflow: visible;
}
.icons-cv {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 594px;
  top: 246px;
  overflow: visible;
}
.button-cv2 {
  width: 220px;
  height: 40px;
  position: absolute;
  left: 603px;
  top: 667px;
}
.download-cv2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  right: 32.73%;
  left: 18.18%;
  width: 49.09%;
  bottom: 26.43%;
  top: 25%;
  height: 48.57%;
}
.frame2 {
  width: 6.36%;
  height: 40%;
  position: absolute;
  right: 17.73%;
  left: 75.91%;
  bottom: 29.29%;
  top: 30.71%;
  overflow: visible;
}
.button-hire-me2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 971px;
  top: 538px;
}
.basic-solid-large-base {
  background: var(--yellow, #ffb400);
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
}
.icon-large {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.icon {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.button-hire-me3 {
  background: #ffb400;
  border-radius: 5px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 971px;
  top: 645px;
}
.group-74 {
  flex-shrink: 0;
  width: 90px;
  height: 19px;
  position: static;
}
.hire-me2 {
  color: var(--dark-background, #18191a);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 45px);
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 106px;
  top: 17px;
  overflow: visible;
}
.rectangle-1 {
  background: var(--yellow, #ffb400);
  width: 1440px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.icon-button {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  line-height: 123.6%;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 490px;
  top: 30px;
}
